body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

canvas {
    margin-left: 25%;
    margin-top: 2%;

}

#chooseNameField {
    align-self: center;
    margin: 20px;
}
